/*.debhelper
/*.debhelper.log
/*.substvars
/substvars
/files

/build-*
/tmp
/guestfish
/guestfsd
/guestmount
/libguestfs-dev
/libguestfs-doc
/libguestfs-perl
/libguestfs-java
/erlang-guestfs
/ruby-guestfs
/libguestfs-tools
/libguestfs0-dbg
/libguestfs0
/libguestfs-ocaml-dev
/libguestfs-ocaml
/python-guestfs
/gir1.2-guestfs-1.0
/libguestfs-gobject-1.0-0
/libguestfs-gobject-dev
