/*.debhelper
/*.debhelper.log
/*.substvars
/substvars
/files

/build-*
/tmp
/guestfish
/guestfsd
/guestmount
/libguestfs-dev
/libguestfs-doc
/libguestfs-perl
/erlang-guestfs
/libguestfs-tools
/libguestfs0-dbg
/libguestfs0
/libguestfs-ocaml-dev
/libguestfs-ocaml
/python-guestfs
