#!/usr/bin/make -f

override_dh_auto_clean:
	test -f Makefile && $(MAKE) distclean || true

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-appliance  \
		--with-readline	     \
		--with-java-home=no  \
		--disable-ruby       \
		--disable-haskell    \
		--disable-php

override_dh_strip:
	dh_strip --dbg-package=libguestfs0-dbg

override_dh_auto_build:
	$(MAKE) INSTALLDIRS=vendor LD_RUN_PATH=""
# build part of appliance
	$(MAKE) -C appliance \
		make.sh \
		packagelist excludelist \
		supermin.d/daemon.img supermin.d/init.img

override_dh_install:
# workaround for #635316
	rm debian/tmp/usr/lib/python2.6/dist-packages/libguestfsmod.a \
	   debian/tmp/usr/lib/python2.6/dist-packages/libguestfsmod.la \
	   debian/tmp/usr/lib/python2.6/dist-packages/libguestfsmod.so \
	   debian/tmp/usr/lib/python2.6/dist-packages/libguestfsmod.so.0
	mv debian/tmp/usr/lib/python2.6/dist-packages/libguestfsmod.so.0.0.0 \
	   debian/tmp/usr/lib/python2.6/dist-packages/libguestfsmod.so

# Workaround for:
# W: libguestfs-perl: script-not-executable usr/lib/perl5/Sys/bindtests.pl
	rm debian/tmp/usr/lib/perl5/Sys/bindtests.pl

# Workaround for:
# E: libguestfs-dev: non-empty-dependency_libs-in-la-file usr/lib/libguestfs.la
	find debian/tmp -name *.la | xargs sed -i '/^dependency_libs/ s/^/# /'

	dh_install

override_dh_python2:
	dh_python2 --no-guessing-versions

%:
	dh --without=python-support --with=autotools-dev,ocaml,python2 $@
